+++
title = "LightCube"
linkTitle = "LightCube"

+++

{{< blocks/cover title="LightCubeへようこそ！" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		ドキュメント <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
LightCubeでは、教育機関向けゲームの開発や、ウェブサイトの制作、サーバー構築などを行っております。

<!-- 適当に編集-->
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-envelope" title="更新を確認" %}}
LightCubeでは定期的にメールマガジンを発行しています。

メーリングリストに参加して、最新情報を受け取りましょう！
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="自由に参加" url="https://github.com/lightcube-c/LightCube" %}}
[Pull Request](https://github.com/lightcube-c/LightCube/pulls) を送って、プロジェクトに参加しましょう。
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Twitterをフォロー" url="https://twitter.com/LightCube_c" %}}
最新情報や開発者のつぶやきなどをチェックしましょう！
{{% /blocks/feature %}}


{{< /blocks/section >}}







