{{ $links := .Site.Params.links }}

<section class="row td-box td-box--4 td-box--gradient td-box--height-auto linkbox">
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h2>学ぶ。そしてつながる。</h2>		
<p>{{ .Site.Title }}を使っていますか? もっといろいろなことを知ろう:
{{ with index $links "user"}}
{{ template "community-links-list"  . }}
{{ end }}
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h2>開発・貢献</h2>
<p>あなたがもし {{ .Site.Title }}をより良くしたいと思ったら、以下をチェックしてください:
{{ with index $links "developer"}}
{{ template "community-links-list"  . }}
{{ end }}
<p>参加方法は <a href="/docs/contribution-guidelines/">こちら</a>を確認してください。
</div>
</section>

{{ define "community-links-list" }}
<ul>
 {{ range . }}
 <li title="{{ .name }}">
   <a target="_blank" href="{{ .url }}"><i class="{{ .icon }}"></i> {{ .name }}:</a> {{ .desc }}
 </li>
  {{ end }}
</ul>
{{ end }}
