---
title: About LightCube
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="LightCubeについて" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">LightCubeの仕事内容や開発者など
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
<p>
  <h3>LightCubeとは何ですか？</h3><br>
私たちは、プログラミング教育のサポートのために、教育機関向けのプログラミング学習ソフトウェアの開発に取り組む千葉県に住む学生5名によって成り立っています。

LightCubeはプロジェクトに参加する開発者の一人によって、名付けられました。
</p>

{{% /blocks/lead %}}


{{% blocks/lead %}}
<p>
  <h3>ご協力ください!</h3><br>
こちらでは開発に協力してくださる方、また、プログラミングができなくても、翻訳作業などを手伝ってくれる方、寄付をしてくださる方などを歓迎しております!
</p>

{{% /blocks/lead %}}

<!--

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another section</h1>
</div>

{{< /blocks/section >}}

--->