---
title: About LightCube
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="About LightCube" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">LightCube work contents and developers
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
<p>
  <h3>What is LightCube?</h3><br>
  We are made up of five students living in Chiba Prefecture who are working on the development of programming learning software for educational institutions to support programming education.
 
  LightCube was given a particularly meaningless name by one of the developers participating in the project.
</p>
{{% /blocks/lead %}}


{{% blocks/lead %}}
<p>
  <h3>Please cooperate!</h3><br>
  LightCube welcomes those who cooperate in development, those who can help with translation work even if they can not program, those who donate!
</p>

{{% /blocks/lead %}}

<!--

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another section</h1>
</div>

{{< /blocks/section >}}

--->

