{{ define "main" }}

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
<h1>Join the {{ .Site.Title }} community</h1>

<p>{{ .Site.Title }} はオープンソースプロジェクトで、誰でも使って、成長させて、楽しむことができます。私達はいつでもあなたの参加を歓迎しています!ここに何が起きているか、何ができるかを確認する方法があります。</p><p>{{ .Site.Title }} is an open source project that anyone can use, grow and enjoy. We always welcome your participation! Here's a way to see what's happening and what you can do.</p>
</span>
	</div>
</section>
{{ partial "community_links.html" . }}

<div class="td-content">
{{ .Content }}
</div>

{{ end }}
