+++
title = "LightCube"
linkTitle = "LightCube"

+++

{{< blocks/cover title="Welcome to LightCube!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documents <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
LightCube develops games for educational institutions, creates websites, and builds servers.

<!-- 適当に編集-->
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-envelope" title="Check for updates" %}}
LightCube regularly publishes e-mail magazines.

Add to the mailing list to get the latest information!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Join freely" url="https://github.com/lightcube-c/LightCube" %}}
Send a [Pull Request](https://github.com/lightcube-c/LightCube/pulls) to join the project.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter" url="https://twitter.com/LightCube_c" %}}
Latest information and developer tweets ...
{{% /blocks/feature %}}


{{< /blocks/section >}}







